.bg-hero {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("./assets/banner.png");
}

#slide1 {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("./assets/slider-1.jpg");
  background-position-y: 10%;
  background-size: cover;
}

#slide2 {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("./assets/slider-2.jpg");
  background-position-y: 20%;
  background-size: cover;
}

#slide3 {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("./assets/slider-3.jpg");
  background-position-y: 15%;
  background-size: cover;
}
